.funds-allocated-meter {
  .background {
    fill: #E6E7E8;
  }
  .foreground {
    fill: #00D2B6;
  }
  text {
    &.percent-complete {
      font-family: 'Roboto Condensed', sans-serif;
      font-size: 40px;
      fill: #5B8BE3;
      letter-spacing: -.03em;
    }
    &.description {
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 11px;
      fill: #9B9B9B;
    }
  }
}